<?xml-model href="https://raw.githubusercontent.com/harleylara/urdfdom/refs/heads/movespecification/xsd/urdf.xsd"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- The following set of ARGUMENTS are used by launch -->
  <xacro:arg name="robot_name" default="default"/>

  <!-- set of properties for internal use (not used by launch) -->
  <xacro:property name="namespace" default="$(arg robot_name)"/>
  <xacro:property name="root_frame" default="${namespace}_base_link" />

  <xacro:include filename="$(find foxy_description)/urdf/base.xacro"/>

  <xacro:foxy_base root_frame="${root_frame}"/>

</robot>
